<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<variable name="LogDir" value="${basedir}../../logs"/>
	<targets>
		<target name="asyncLogging" xsi:type="AsyncWrapper">
			<target name="logfile" xsi:type="File" fileName="${LogDir}/log.${shortdate}.txt" archiveFileName="${LogDir}/archive/log.${shortdate}" maxArchiveFiles="6" archiveEvery="Day" keepFileOpen="true" concurrentWrites="true"/>
		</target>
		<target name="asyncLogging" xsi:type="AsyncWrapper">
			<target name="tracelogfile" xsi:type="File" fileName="${LogDir}/cli_trace_log.${shortdate}.txt" archiveFileName="${LogDir}/archive/cli_trace_log.${shortdate}" maxArchiveFiles="6" archiveEvery="Day" keepFileOpen="true" concurrentWrites="true"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="CommandLogger" minlevel="Trace" writeTo="tracelogfile" />
	</rules>
</nlog>